@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 278 22% 10%;
    --foreground: 267 44% 95%;
    --card: 278 22% 12%;
    --card-foreground: 267 44% 95%;
    --popover: 278 22% 12%;
    --popover-foreground: 267 44% 95%;
    --primary: 269 53% 34%;
    --primary-foreground: 267 44% 95%;
    --secondary: 269 53% 18%;
    --secondary-foreground: 267 44% 95%;
    --muted: 269 53% 24%;
    --muted-foreground: 267 44% 80%;
    --accent: 267 44% 74%;
    --accent-foreground: 278 22% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 269 53% 24%;
    --input: 269 53% 24%;
    --ring: 267 44% 74%;
    --radius: 3px;
  }

  .dark {
    --background: 278 22% 10%;
    --foreground: 267 44% 95%;
    --card: 278 22% 12%;
    --card-foreground: 267 44% 95%;
    --popover: 278 22% 12%;
    --popover-foreground: 267 44% 95%;
    --primary: 269 53% 34%;
    --primary-foreground: 267 44% 95%;
    --secondary: 269 53% 18%;
    --secondary-foreground: 267 44% 95%;
    --muted: 269 53% 24%;
    --muted-foreground: 267 44% 80%;
    --accent: 267 44% 74%;
    --accent-foreground: 278 22% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 269 53% 24%;
    --input: 269 53% 24%;
    --ring: 267 44% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  html, body {
    background-color: hsl(var(--background));
  }
}
